body{
    background-color:salmon;
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(94, 17, 17);
    display: flex;
    justify-content: space-around;
}

.big-box{
    margin: auto;
    padding: 10px;
    background-image: url("https://images.pexels.com/photos/2983103/pexels-photo-2983103.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    display: flex;
    width: 500px;
    height: 500px;
    border-radius: 8%;
    display:flex;
    flex-direction: column;
}
.links{
    margin-right: auto;
    position:absolute;
    border-color: blue;
    width: 450px;
    height: 10%;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    

}

.links li{
    display: inline-block;
    text-align: center;
}
.links li a{
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    border-right: 2px black;

    
}
    

footer{
    position: absolute;
    color: rgb(219, 219, 219);
    width: 100%;
    font-size: 1.3em;
    height: 50px;
    border-width: 30px;
    text-align:center;
    align-items: center;
    bottom: 0%;
   background-color: rgb(94, 17, 17);
}

.contenedor-menu{
    margin: auto;
    width:500px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    object-fit: cover;
    

}

.contenedor-menu .card{
    width: 100px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;/* desvordamiento*/
    margin: 10px;
    text-align: center;
    transition: all 0.25s; /* suaviza elmovimiento*/
    background-color:white;
    object-fit: cover;


}
.contenedor-menu img{
    margin: 5px;
    width: 80%;
    height: 50%;
}