@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500;1,600&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;

}
h1{
   color: rgb(219, 219, 219);
   font-size: 1.5rem;
   font-weight: 800;
   background-color: rgb(94, 17, 17);
   padding: 2%;
   margin: 0%;
   border-bottom: solid 5px rgb(60, 17, 17);
}
body{
    margin: 0%;
    background-color:salmon;
    color: black;
}

.imgHamburger{
    margin: 0%;
    background-image: url("../img/hamburger.jpeg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h2{ 
    color: black;
    font-size: 2rem;
    border-bottom: solid 5px rgb(180, 17, 17);
}
.segundo{
    position: absolute;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    border-radius: 8%;
    opacity: 0.8;
    left: 20%;
    top: 20%;
    width: 70%;
}
form{
    width: 100%;
    text-align: center;
    align-items: center;
    color: aliceblue;
    font-size: 1.5em;

}
.texto{
    color: black;
}
.footer{
    position: absolute;
    color: rgb(219, 219, 219);
    width: 100%;
    font-size: 1.3em;
    background-color: rgb(94, 17, 17);
    height: 40px;
    border-width: 30px;
    text-align:center;
    align-items: center;
    bottom: 0%;
}
#bt{
    margin-top: 20px;
    background-color: rgb(94, 17, 17);
    width: 44%;
    font-size: 1.3rem;
    color: white;
    font-weight: bolder;
    border-radius: 15%;
}
a{
    font-size: 0.7em;
}
@media (min-width:700px){
    .segundo{
        left: 20%;
        top: 20%;
        width: 50%;
        height: 40vh;
    }
    #bt{
        width: 40%;
    }   
}
@media (min-width:900px){
    .segundo{
        left: 10%;
        top: 20%;
        width: 30%;
        height: 45vh;
    }
    #bt{
        width: 30%;
        color: white;
    } 
}