@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ramaraja', serif;

}
h1{
   color: rgb(219, 219, 219);
   font-size: 1.5rem;
   font-weight: 800;
   background-color: rgb(94, 17, 17);
   padding: 2%;
}
body{
    background-color:salmon;
    text-align: center;
    color: black;
   
}

.imgHamburger{
    background-image: url(.);
}
h2{
    font-size: 2em;
}
.segundo{
    position: absolute;
    z-index: 5;
    left: 20%;
    top: 12%;
    width: 70%;
}
form{
    width: 100%;
    text-align: center;
    align-items: center;
    color: aliceblue;
    font-size: 1.5em;

}
.texto{
    color: black;
}
.footer{
    position: absolute;
    color: rgb(219, 219, 219);
    width: 100%;
    font-size: 1.3em;
    background-color: rgb(94, 17, 17);
    height: 40px;
    border-width: 30px;
    text-align:center;
    align-items: center;
    bottom: 0%;
}
#bt{
    background-color: rgb(94, 17, 17);
    width: 44%;
    font-size: 1em;
    color: black;
    font-weight: bolder;
}
a{
    font-size: 0.7em;
}
