@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif, 'Roboto', sans-serif;

}
h1{
   color: rgb(219, 219, 219);
   font-size: 1.3em;
   background-color: rgb(94, 17, 17);
   height: 40px;
   border-width: 30px;
   text-align: center;
   align-items: center;
   top: 100px;
   width: auto;
   
 
}
main{
    background-color:salmon;
    display:grid;
    grid-template-columns: 1fr 1fr;
    




}
.primero{
    width: auto;
}

.form{
    align-items: center;
    text-align: center;
    background-color: grey;
    border-color: black;
    border-style: solid;
    width: auto ;


}
.segundo{
    text-align: center;


    margin-top: 30%;
    /*border-color: aqua;*/
    /*border-style: solid;*/
    width: ;
    
    

}
footer{
    color: rgb(219, 219, 219);
    font-size: 1.3em;
    background-color: rgb(94, 17, 17);
    height: 40px;
    border-width: 30px;
    text-align:center;
    align-items: center;
    top: 100px;
    width: auto;

}