@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500;1,600&display=swap');
*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
body{
    background-color:rgb(255, 221, 217);
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
    height: auto;
}
header{
    width: 100%;
    height: 13vh;
    color:white;
    background-color: rgb(94, 17, 17);
    background-position: center;
    background-size:cover;
    
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
h1{
    width: 140px;
    margin: left 20px;
}
.bar-btn{
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top:100px;
    background: rgb(94, 17, 17);
    text-align: center;
    transition: all .5s;
}
.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5;
}
.nav-menu li button{
    background-color:rgb(94, 17, 17);;
    border: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-menu li button.active, .nav-menu li button:hover{
    color: black;
    transition: .3s;
    font-size: 1rem;
}
#check{
    display: none;
}
#check:checked ~ .nav-menu{
    height: 100vh;
}
#check:checked ~ .nav-menu li{
    display: block;
}

footer{
    color: rgb(219, 219, 219);
    width: 100%;
    font-size: 1.3em;
    height: 50px;
    border-width: 30px;
    text-align:center;
    align-items: center;
    bottom: 0%;
   background-color: rgb(94, 17, 17);
}


@media(min-width: 954px) {
    h1{
        margin-left: 50px;
    }
    nav{
        height: 100px;
    }
    .bar-btn{
        display: none;

    }
    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }
    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }
    .nav-menu li a{
        font-size: 12px;;
    }
}
img{
    max-width: 100%;
}
article.card{
    max-width: 300px;
    background: rgb(230, 230, 255);
    border-radius: 8px;
    margin: 1rem;
    box-shadow:0 0 12px rgb(0, 0, 0);
}
.header-card img{
    border-radius: 8px 8px 0 0;
    max-height: 200px;
    height: 200px;
    width: 100%;
}
.categoria-card {
    margin-top: 1rem;
}
.categoria-card span{
    background-color: aqua;
    color: brown;
    padding: .2rem .5rem;
    border-radius: 4px;
}
.card .footer-card{
    padding: 0 1rem;
}
.card-ward{
    display: flex;
    flex-flow: wrap;
}
.btn{
    width: 40%;
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    color: white;
    border-radius: 10%;
    background-color: rgb(2, 172, 2);
    box-shadow:0 0 12px rgb(0, 0, 0);
}
.btnEliminar{
    width: 40%;
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    color: white;
    border-radius: 10%;
    background-color: rgb(172, 2, 2);
    box-shadow:0 0 12px rgb(0, 0, 0);
}
.carrito{
    width: 40%;
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    color: white;
    border-radius: 10%;
    background-color: rgb(2, 172, 2);
    box-shadow:0 0 12px rgb(0, 0, 0);
}
.texto{
    color: black;
    font-size: 3rem;
}
